.section
	.container
		.row
			.five.columns
				.d_area
					img#telepathy_logo(src="images/svg/telepathy_logo.svg")
					h2 Start Telepathy
					a(href="https://play.google.com/store/")
						img.dl_btn(src="images/svg/get_it_on_google_play.svg")
					if(isFromIran)
						a(href="https://cafebazaar.ir/")
							img.dl_btn(src="images/png/cafebazar.png")
			.seven.columns
				img#nexus6p(src="images/png/nexus6p.png")
